
@media screen and (max-width: 600px) {

}
@media screen and (min-width: 601px) {
}
@media screen and (min-width: 993px) {
.headerp1{
    border-radius: 1vw;
    border-style: ridge;
    width: 100%;
    align-self: center;
    justify-content: left;
    background-color: black;
}
body{background-color: bisque;}
h1{font-weight: bold;
    font-size: 250%;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.split_25{
    width: 24%;
    float: left;
    border-radius: 1vw;
    border-style: ridge;
    margin :2px;
    padding: 2px;
}
.gambar1{width:100%; border-radius: 1vw;
    border-style: ridge}
}